<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" data-theme="light">
<head>
    {{ partial "head.html" . }}
    <script
      type="text/javascript"
      defer data-domain="gvolpe.com"
      src="{{ "js/plausible.js" | absLangURL }}"
    ></script>
</head>
<body>
    {{ if not (eq .Type "blog") }}
    {{ partial "header.html" . }}
    {{ end }}

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    {{ if and (not (eq .Type "blog")) (not (eq .Section "tags")) (not (eq .Section "talks")) }}
      {{ partial "footer.html" . }}
    {{ end }}

    <script src="{{ "js/main.js" | absLangURL }}"></script>
</body>
</html>
