<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" data-theme="light">
<head>
    {{ partial "head.html" . }}
    <script defer src="https://analytics.gvolpe.com/script.js" data-website-id="d1402dba-c29e-4232-abe6-159c15ae2ff7"></script>
</head>
<body>
    {{ if not (eq .Type "blog") }}
    {{ partial "header.html" . }}
    {{ end }}

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    {{ if and (not (eq .Type "blog")) (not (eq .Section "tags")) (not (eq .Section "talks")) }}
      {{ partial "footer.html" . }}
    {{ end }}

    <script src="{{ "js/email.js" | absLangURL }}"></script>
    <script src="{{ "js/main.js" | absLangURL }}"></script>
</body>
</html>
