<div class="content">
  <a href="https://www.blurb.co.uk/b/10849946-practical-fp-in-scala-a-hands-on-approach-2nd-edi" target="_blank">
    <img src="images/books/pfps1.png" title="Practical FP in Scala - 1st edition (2020)" alt="Practical FP in Scala - 1st edition" width="25%" height="25%"/>
  </a>

  <a href="https://leanpub.com/pfp-scala" target="_blank">
    <img src="images/books/pfps2.png" title="Practical FP in Scala - 2nd edition (2021)" alt="Practical FP in Scala - 2nd edition" width="25%" height="25%"/>
  </a>

  <a href="https://leanpub.com/feda" target="_blank">
    <img src="images/books/feda.png" title="Functional Event-Driven Architecture - Powered by Scala 3 (2022)" alt="Functional Event-Driven Architecture - Powered by Scala 3" width="25%" height="25%">
  </a>
</div>
