<header id="header">
  <h1>
    {% if page.title and page.title != 'Blog' %}
    <a href="{{ site.baseurl }}/blog">Gabriel Volpe's blog</a>
    {% else %}
    Gabriel Volpe's blog
    {% endif %}
  </h1>

  <div class="overlay">
    <div class="container">
      {% if page.title != 'Blog' and page.title != 'Categories' %}
      <div class="darkmode-div">
        <input type="checkbox" id="darkmode" onchange="darkModeEvent(this);"/>
        <label for="darkmode">
          <div id="star">
            <div class="star" id="star-1">★</div>
            <div class="star" id="star-2">★</div>
          </div>
          <div id="moon"></div>
        </label>
      </div>
      {% endif %}
      <nav>
        <ul>
          <li><a href="{{ site.base }}/">Home</a></li>
          {% for page in site.pages %}
            {% if page.title and page.title != 'Home' and page.title != 'Blog' %}
              <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>

    {% if page.slug == 'home' %}
      <h2 class="txt-center">
        <strong>{{ site.description }}</strong>
      </h2>
    {% endif %}

  </div>
  <div id="progress-bar"></div>
</header>
