<header id="header">
  <h1>Gabriel Volpe's blog</h1>
  <div class="overlay">
    <div class="container">
      <nav>
        <ul>
          <li><a href="{{ site.base }}/">Home</a></li>
          {% for page in site.pages %}
            {% if page.title and page.title != 'Home' %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% else %}
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
     
    {% if page.slug == 'home' %}
      <h2 class="txt-center">
        <strong>{{ site.description }}</strong>
      </h2>
    {% endif %}

  </div>
</header>
