<header>
  <h2>Projects</h2>

  <p>These are some of the open source projects I worked on.</p>
</header>

<table class="default">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><a href="https://github.com/nix-community/dconf2nix" target="_blank">Dconf2nix</a></td>
    <td>Convert Dconf files (Gnome Shell) to Nix, as expected by Home Manager</td>
  </tr>
  <tr>
    <td><a href="https://github.com/profunktor/dorado" target="_blank">Dorado</a></td>
    <td>Generic golden testing library with support for MUnit and Weaver</td>
  </tr>
  <tr>
    <td><a href="https://github.com/profunktor/fs2-rabbit" target="_blank">Fs2 Rabbit</a></td>
    <td>RabbitMQ stream-based client built on top of Fs2</td>
  </tr>
  <tr>
    <td class="first"><a href="https://github.com/profunktor/http4s-jwt-auth" target="_blank">Http4s JWT Auth</a></td>
    <td>Opinionated JWT authentication library for Http4s</td>
  </tr>
  <tr>
    <td><a href="https://github.com/profunktor/http4s-tracer" target="_blank">Http4s Tracer</a></td>
    <td>End-to-end tracing system for Http4s</td>
  </tr>
  <tr>
    <td><a href="https://github.com/gvolpe/neovim-flake" target="_blank">Neovim-flake</a></td>
    <td>Nix flake for Neovim with configuration options highly focused on Scala 3</td>
  </tr>
  <tr>
    <td><a href="https://github.com/profunktor/neutron" target="_blank">Neutron</a></td>
    <td>Purely functional Apache Pulsar client for Scala built on top of Fs2</td>
  </tr>
  <tr>
    <td><a href="https://github.com/gvolpe/nix-config" target="_blank">Nix-config</a></td>
    <td>My NixOS configuration files, home-manager, neovim, etc.</td>
  </tr>
  <tr>
    <td><a href="https://github.com/gvolpe/pfps-examples" target="_blank">PFPS Examples</a></td>
    <td>Standalone examples from the "Practical FP in Scala" book</td>
  </tr>
  <tr>
    <td class="first"><a href="https://github.com/gvolpe/pfps-shopping-cart" target="_blank">PFPS Shopping Cart</a></td>
    <td>The application developed in the "Practical FP in Scala" book</td>
  </tr>
  <tr>
    <td><a href="https://hackage.haskell.org/package/postgresql-resilient" target="_blank">PostgreSQL Resilient</a></td>
    <td>Automatic re-connection support for PostgreSQL (Haskell)</td>
  </tr>
  <tr>
    <td><a href="https://github.com/profunktor/redis4cats" target="_blank">Redis4Cats</a></td>
    <td>Purely functional Redis client for Cats Effect &amp; Fs2</td>
  </tr>
  <tr>
    <td><a href="https://github.com/gvolpe/sbt-nix.g8" target="_blank">Sbt Nix</a></td>
    <td>G8 template, docs and examples on managing Scala projects with Nix</td>
  </tr>
  <tr>
    <td><a href="https://hackage.haskell.org/package/split-morphism" target="_blank">Split Morphism</a></td>
    <td>Split Epimorphisms and Monomorphisms for Haskell</td>
  </tr>
  <tr>
    <td><a href="https://hackage.haskell.org/package/supernova" target="_blank">Supernova</a></td>
    <td>Apache Pulsar client for Haskell</td>
  </tr>
</table>
