<!-- Look here for more brands icons: https://fortawesome.com/sets/font-awesome-5-brands -->
<script src="{{ site.baseurl }}/js/email.js"> </script>

<ul class="icons">
  <li><a href="#" class="icon solid fa-envelope" onclick="showContact()"><span class="label">Email</span></a></li>
  <li><a href="https://github.com/gvolpe" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
  <li><a href="https://matrix.to/#/@gvolpe:matrix.org" target="_blank" class="icon brands fa-gitter"><span class="label">Matrix</span></a></li>
  <li><a rel="me" href="https://fosstodon.org/@gvolpe" target="_blank" class="icon brands fa-mastodon"><span class="label">Mastodon</span>></a></li>
  <li><a href="https://twitter.com/volpegabriel87" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
  <li><a href="https://bsky.app/profile/gvolpe.com" target="_blank" class="icon brands fa-dribbble"><span class="label">Bluesky</span></a></li>
  <li><a href="https://linkedin.com/in/gmvolpe" target="_blank" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
  <li><a href="https://leanpub.com/u/gvolpe" target="_blank" class="icon brands fa-leanpub"><span class="label">LeanPub</span></a></li>
  <li><a href="https://www.blurb.co.uk/user/gvolpe" target="_blank" class="icon brands fa-bimobject"><span class="label">Blurb</span></a></li>
</ul>
