<header>
  <h2>Talks</h2>
  <p>I've mainly given talks about Haskell, Scala and Nix, both at conferences and city meetups. </p>
<!-- Gallery  -->
  <div class="gallery">
    <article class="from-left">
      <!--Slides: https://gvolpe.com/slides/feda.html-->
      <a href="http://youtu.be/s2VgqF-aMPA" data-poptrox="youtube,800x480" class="image fit"><img src="images/talks/scalar-2023.jpeg" title="Functional Event-Driven Architecture (Mar 2023) - Warsaw, PL" alt="" /></a>
    </article>
    <article class="from-right">
      <!--Slides: https://slides.com/volpegabriel/scala-love-types-matter-->
      <a href="http://youtu.be/n1Y2V4zCZdQ" data-poptrox="youtube,800x480" class="image fit"><img src="images/talks/love.png" title="Scala Love (Apr 2020) - Online" alt="" /></a>
    </article>

    <article class="from-left">
      <!--Video (private): view-source:https://player.vimeo.com/video/306189524?api=1&title=0-->
      <a href="https://paidy.github.io/talks/scalax2018/" data-poptrox="iframe,800x480" class="image fit"><img src="images/talks/scalax2.png" title="Scala eXchange (Dec 2018) - London, UK" alt="" /></a>
    </article>
    <article class="from-right">
      <a href="slides/sugar.html" data-poptrox="iframe,800x480" class="image fit"><img src="images/talks/sugar.png" title="SUGAR Meetup (Dec 2019) - Buenos Aires, AR" alt="" /></a>
    </article>

    <article class="from-left">
      <a href="http://youtu.be/8_TWM2t97r4" data-poptrox="youtube,800x480" class="image fit"><img src="images/talks/scalaio.png" title="Scala IO (Oct 2018) - Lyon, FR" alt="" /></a>
    </article>
    <article class="from-right">
      <!--Slides: https://paidy.github.io/talks/scalar2019/-->
      <a href="http://youtu.be/gYnbOUGpWK0" data-poptrox="youtube,800x480" class="image fit"><img src="images/talks/scalar.png" title="Scalar (Apr 2019) - Warsaw, PL" alt="" /></a>
    </article>

    <article class="from-left">
      <a href="http://youtu.be/UUX5KvPgejM" data-poptrox="youtube,800x480" class="image fit"><img src="images/talks/sbtb.png" title="Scale by the bay (Nov 2018) - San Francisco, US" alt="" /></a>
    </article>
    <article class="from-right">
      <!--Slides: https://slides.com/volpegabriel/types-matter-ft/-->
      <a href="http://youtu.be/rGi3Rf6r1fI" data-poptrox="youtube,800x480" class="image fit"><img src="images/talks/wtmh2.png" title="Functional Tricity #20 (Apr 2020) - Online" alt="" /></a>
    </article>

    <article class="from-left">
      <a href="https://paidy.github.io/talks/tokyo2019-haskell/" data-poptrox="iframe,800x480" class="image fit"><img src="images/talks/haskell-scala.png" title="Tokyo Scala Meetup (Feb 2019) - Tokyo, JP" alt="" /></a>
    </article>
    <article class="from-right">
      <a href="slides/dublin.html" data-poptrox="iframe,800x480" class="image fit"><img src="images/talks/dublin.png" title="Dublin Scala Meetup (Nov 2017) - Dublin, IE" alt="" /></a>
    </article>

    <article class="from-left">
      <a href="http://youtu.be/9NCFLMESAuY" data-poptrox="youtube,800x480" class="image fit"><img src="images/talks/pulsar-summit-2020.jpg" title="Pulsar Summit (Nov 2020) - Online" alt="" /></a>
    </article>
    <article class="from-right">
      <a href="https://conf.tube/video-playlists/embed/bddc2533-255f-45c0-8398-36c46363c89f?playlistPosition=2" data-poptrox="iframe,800x480" class="image fit"><img src="images/talks/thumbs/nixcon.png" title="Nixcon (Oct 2020) - Online" alt="" /></a>
    </article>

    <article class="from-left">
      <a href="slides/mvd.html" data-poptrox="iframe,800x480" class="image fit"><img src="images/talks/mvd2.png" title="MVD Scala Meetup (Dec 2019) - Montevideo, UY" alt="" /></a>
    </article>

    <article class="from-right">
      <a href="slides/medellin.html" data-poptrox="iframe,800x480" class="image fit"><img src="images/talks/medellin.png" title="Scala MDE Meetup (Aug 2019) - Medellin, CO" alt="" /></a>
    </article>

    <article class="from-left">
      <a href="slides/eindhoven.html" data-poptrox="iframe,800x480" class="image fit"><img src="images/talks/haskell.png" title="Eindhoven HS Meetup (Jun 2017) - Eindhoven, NL" alt="" /></a>
    </article>
    <article class="from-right">
      <a href="http://youtu.be/GMScZYRuYGE" data-poptrox="youtube,800x480" class="image fit"><img src="images/talks/sfscala.png" title="SF Scala Meetup (Oct 2020) - Online" alt="" /></a>
    </article>
  </div>
</header>
