---
layout: default
slug: single
---
<script type="text/javascript">
  window.onload = function() {
    document.getElementById("darkmode").checked=false;
  };

  window.onscroll = function() {
    var docElem = document.documentElement;
    var docBody = document.body;
    var scrollTop = docElem['scrollTop'] || docBody['scrollTop'];
    var scrollTop = docElem['scrollTop'] || docBody['scrollTop'];
    var scrollBottom = (docElem['scrollHeight'] || docBody['scrollHeight']) - window.innerHeight;
    var scrollPercent = scrollTop / scrollBottom * 100 + '%';
    document.getElementById("progress-bar").style.setProperty("--scrollAmount", scrollPercent);
  };

  function darkModeEvent(box) {
    var light = document.getElementById("projects");
    var dark = document.getElementById("accessible");

    if (box.checked && light != null) {
      light.id="accessible";
    }

    if (!box.checked && dark != null) {
      dark.id="projects";
    }
    return false;
  };
</script>

<section id="projects" class="main style-post dark fullscreen">
  <div class="content">
    <div class="post-content">

      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <span class="post-meta">
          <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%b %-d, %Y" }}</time>
          <span class="post-author">by <a href="{{ site.baseurl }}/">{{ site.author.name }}</a></span>
        </span>

        <div class="post-categories">
          <span class="post-meta">
            {% for category in page.categories %}
            <a href="{{site.baseurl}}/blog/categories/#{{category|slugize}}" class="cat-link">{{category}}</a>
            {% unless forloop.last %}&nbsp;{% endunless %}
            {% endfor %}
          </span>
        </div>

      </header>

      {{ content }}

      {% include github-comments.html %}

    </div>
  </div>
</section>
