---
layout: compress
---

<!DOCTYPE HTML>
<html>
	<head>
		<title>Gabriel Volpe</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
    <link rel="icon" href="images/favicon.png">

    <!--Also needs to be set in ./_includes/head.html-->
    <script defer data-domain="gvolpe.com" src="https://web.main.web-analytics.gvolpe.garnix.me/js/script.js"></script>

		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
        <h1>Gabriel Volpe</h1>
				<nav>
					<ul>
						<li><a href="#intro">About</a></li>
						<li><a href="#blog">Blog</a></li>
						<li><a href="#talks">Talks</a></li>
						<li><a href="#projects">Projects</a></li>
					</ul>
				</nav>
			</header>

		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
            <img src="images/profile.png" style="max-width: 25%;height: auto;"/>
						<h2>Hello World!</h2>
					</header>
          <!-- More HTML symbol codes here: https://www.compart.com/en/unicode/html -->

					<p>I am a Software Engineer specialized in <strong>&lambda; functional programming</strong>,<br/>
          writing strongly-typed code in <a href="https://www.haskell.org/" target="_blank">Haskell</a> &harrcir; <a href="https://scala-lang.org/" target="_blank">Scala</a> &Rightarrow; reproducible builds via <a href="https://nixos.org" target="_blank">Nix</a>.</p>

					<footer>
            {% include social-icons.html %}

            {% include books.html %}

            <div class="content style3 dark">
              <p>My professional career started out in Argentina in 2009, continuing abroad (Europe and Asia) since early 2015,
              gaining experience in industries such as Gaming, Fintech, Gambling, IoT, Real State, Video Chats and Streaming.
              I have authored and self-published the Scala books listed above.
              </p>
            </div>
						<a href="#blog" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

	  	<!-- Blog -->
			<section id="blog" class="main style3 right dark fullscreen">
				<div class="content">
          <h2>Latest on the blog</h2>
          {{ content }}
          <a href="{{site.baseurl}}/blog/" class="button style3">All posts</a>
				</div>
			</section>

		<!-- Talks -->
			<section id="talks" class="main style3 dark fullscreen">
				<div class="content">
            {% include talks.html %}
				</div>
			</section>

		<!-- Projects -->
			<section id="projects" class="main style3 right dark fullscreen">
				<div class="content">
            {% include projects.html %}
				</div>
			</section>

		<!-- Footer -->
      {% include footer.html %}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
